
.card-spaced-2 {
    margin: 2mm;
}
.card-spaced-4 {
    margin: 4mm;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
.btn-training-card {
    margin-left: 2mm;
    margin-right: 2mm;
    margin-top: .5mm;
    margin-bottom: .5mm;
}

/*provide spin animation for icons*/
.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*change the text color for progress bar labels*/
.progress-bar {
    color: white;
}

/*control gradient for navbar seen on all pages*/
.navbar {
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(0,158,209,0.75) 0%, rgba(0,158,209,0.75) 70%, rgba(88,56,149,1) 100%);

}

/*-------Covid_video styles--------*/
.covid-instruction {
    padding-bottom: 1.875rem;
    font-size: 1.25rem;
   /* line-height: .0625rem;*/
    white-space: normal;
}

#vid_progress[value] { /*fall back styles*/
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0,.25) inset;
    display: inline;
    height: 20px;
    order: 1;
    position: relative;
    width: 100%;
}

/* WebKit styles */
#vid_progress[value]::-webkit-progress-bar {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
}

#vid_progress[value]::-webkit-progress-value {
  background: linear-gradient(90deg, rgba(0,158,209,0.75) 0%, rgba(0,158,209,0.35) 70%, rgba(88,56,149,1) 100%);
  );
  border-radius: 10px;
  position: relative;
  transition: width 1s linear;
}

/* Firefox styles */
#vid_progress[value]::-moz-progress-bar {
  background-image: -moz-linear-gradient(
    to right,
     rgba(0,158,209,0.75) 0%, rgba(0,158,209,0.35) 70%, rgba(88,56,149,1) 100%);
  );
  border-radius: 10px;
  position: relative;
  transition: width 1s linear;
}
/* Landing Page Styles */
.primary-text{
    color:#a5dff9;
}

.light-background {
    background-color: #eff0f0;
}

.container-full-width {
    padding-left: 0;
    padding-right: 0;
}

.card-info {
    margin: 2mm;
    background-color:#777777;
    border-radius: .75rem;
    cursor:default;
    transition: 0.3s;
    border: none;
}
@media only screen and (max-width: 768px){
    .card-info {
        background-color: white;
        color: #009ED1;
        box-shadow: 5px 5px 4px #d8dde0;
    }
}

@media (hover: hover)  {
    .card-info:hover {
        background-color: white;
        color: #009ED1;
        box-shadow: 5px 5px 4px #d8dde0;
    }
}

/* machine card styles*/
.card-machine {
    /*height: 40vh;*/
    color: #777777
}

.button-machine {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    float: right;
    margin-left: auto;
    margin-right: 1rem;
    padding-bottom: 0.75rem;
}

/*project showcase styles*/
.portfolio {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*Footer Styles*/
.footer-container {
    padding-top: 1rem;
    height: 12vh;
    background-color: #583895;
}

.footer-content {
    color: #A5DFF9;
}
