{% extends 'layout.html' %}
{% block page %}
<h3>Hello {{session['email'] }}</h3>
<div class="card" style="margin: 1em 0em;">
    {% if trainings %}
        <div class="card-header">
           My safety trainings
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Quiz</th>
                    <th scope="col">Score</th>
                    <th scope="col">Last Taken</th>
                    <th scope="col">Take Quiz</th>
                </tr>
            </thead>
            <tbody>
                {% for each in trainings %}
                <tr>
                    <th scope="row">{{ each.machine.name }}</th>
                    <td>
                        {% if each.quiz_passed() or each.quiz_available() %}
                            {{ each.quiz_score }}
                            {% if each.quiz_passed() %}
                                Pass
                                <!--#TODO Pass Mark-->
                            {% else %}
                                Fail
                                <!--TODO Fail Mark-->
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ each.quiz_taken }}</td>
                    <td>
                        {% if each.quiz_available() %}
                        <a class="btn btn-primary btn-sm" href="{{ url_for('quiz', training_id=each.id)}}" role="button">
                            Take the Quiz
                        </a>
                        {% elif each.quiz_passed() %}
                            Passed
                        {% else %}
                            Available soon
                        {% endif %}
                    </td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="card-header">
            No quizzes available
        </div>
        <div class="card-body">
            <p>You don't have any quizzes assigned for now. We typically assign a review quiz one week after
                safety training. You will receive an email at your IIT email address once it's assigned.</p>
        </div>
    {% endif %}
</div>
{% block admin %}
{% endblock %}
{% endblock %}