{% extends "bootstrap/base.html" %}
{% block title %}Idea Shop Safety Quiz{% endblock %}
{% block head %}
    {{ super() }}
    {{ fontawesome_html() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="safety/static/custom_styles.css">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('welcome') }}">Idea Shop Safety Quiz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
            <div class="navbar-nav"  {% if not session['sid'] %} hidden="true" {% endif %}>
                <a class="nav-item nav-link" href="{{ url_for('new_training_interface') }}">Safety Quizzes</a>
                <a class="nav-item nav-link" href="{{ url_for('reservations') }}">Make a Reservation</a>
                <a class="nav-item nav-link" href="{{ url_for('COVID') }}">Fall 2020 Video Training</a>
            {% if session['admin'] %}
                <a class="nav-item nav-link" href="{{ url_for('view_reservations') }}">View Reservations</a>
            {%  endif %}

            </div>
            <div class="navbar-nav ml-auto">
                {% if session['sid'] %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user_profile %}
                                {{ user_profile.name }}

                            {% else %}
                                User Profile
                            {% endif %}
                        </button>
                        <div class="dropdown-menu">
                            <div class="card">
                                <img class="card-img-top" src="https://www.stockvault.net/data/2018/08/28/254043/preview16.jpg">
                                <h5 class="flex-nowrap">Hello, {{ user_profile.name }}</h5>
                                <p class="card-text flex-nowrap">{{ user_profile.major }}</p>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('logout') }}"> Log Out <i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container" style="padding:2em">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                <div class="alert {% if category %}alert-{{ category }}{% endif %} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}
        {% block page %}{% endblock %}
    </div>
{% endblock %}