{% extends 'layout.html' %}
{% block page %}
{% if training.quiz_attempts > 9 %}
<div class="alert alert-warning">
    Attempting to brute force a safety quiz via a guess and check method is a violation of the <a href="https://wiki.ideashop.iit.edu/index.php?title=User_Agreement">Idea Shop User Agreement</a> and will result in invalidation of your safety training.
</div>
{% endif %}
<h1>{{training.machine.quiz.name}} Quiz</h1>
<form method="post" href="{{url_for('quiz',training_id=training.id)}}">
{% for question in questions %}
    <div class="card" style="margin:1em;">
        <div class="card-header">
            <h3>{{question.prompt}}</h3>
            <h6>{{question.description}}</h6>
            {% if question.image %}<img class="img-fluid" style="max-width: 50%;" src="{{question.image}}"/>{% endif %}
        </div>
        <div class="card-body">
            {% for option in question.option %}
                <div class="form-check">
                    <input class="form-check-input" type="{{question.option_type}}" name="{{question.id}}" value="{{option.id}}" id="{{option.id}}">
                    <label class="form-check-label" for="{{option.id}}">
                        {{option.text}}
                    </label>
                    {% if option.image %}<img class="img-fluid" style="max-width: 50%;" src="{{option.image}}"/>{% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}