{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    <script src="safety/static/CalendarPicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="safety/static/Reservations.js"></script>
    <link rel="stylesheet" href="safety/static/CalendarPicker.style.css">
    <style>
        div.extra-people, small{
            flex-basis: 100%;
        }
    </style>
{% endblock %}
{% block page %}
    <div class="row">
    <div class="col-lg-6" style="padding:1em; border-style: solid; border-color: #0088cc; border-radius: 10px; border-width: 2px; overflow: auto;">
        <div id="myCalendarWrapper"></div>
    </div>
    <div class="col-lg-4" style="padding-top: 1em;">
        <h3 style="text-align: center">
            <p id="current-datestring"></p>
            <input id="current-date" hidden></input>
        </h3>
        <form href="{{ url_for('reservations') }}" method="post">
        <div class="form-group input-group mb-auto" style="margin: 1em">
            <div class="input-group-prepend">
                <label class="input-group-text">Reservation Type</label>
            </div>
            <select class="form-control" id="reservation_type" name="reservation_type" required>
                <option selected value="">Choose...</option>
                {%  for each in reservation_types %}
                <option value={{ each.id }}>{{ each.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group input-group mb-auto" style="margin: 1em" id="extra-people" hidden>
            <label>You may add extra people to this reservation here:</label>
        </div>
        <div class="form-group input-group mb-auto" style="margin: 1em">
            <div class="input-group-prepend">
                <label class="input-group-text">Reservation Start</label>
            </div>
            <select class="form-control" id="start_times" name="start_time" disabled required>
                <option selected value="">Choose...</option>
            </select>
        </div>
        <div class="form-group input-group mb-auto" style="margin: 1em">
            <div class="input-group-prepend">
                <label class="input-group-text">Reservation End</label>
            </div>
            <select class="form-control" id="end_times" name="end_time" disabled required>
                <option selected value="">Choose...</option>
            </select>
            <small class="form-text text-muted" style="flex-basis: 100%;">Max reservation length is 3 hours.</small>
        </div>
        <button type="submit" class="btn btn-primary" style="float: right; margin-top: 1em;">Submit Reservation</button>
        </form>
    </div>
    </div>
{% endblock %}
{%  block scripts %}
    {{ super() }}
    <script>
        const myCalender = new CalendarPicker('#myCalendarWrapper', {
            // If max < min or min > max then the only available day will be today.
            //TODO Change min and max to be passed as template arguments
            min:  new Date() > new Date(Number({{ openDate.year }}),Number({{ openDate.month }})-1,Number({{ openDate.day }})) ? new Date() : new Date(Number({{ openDate.year }}),Number({{ openDate.month }})-1,Number({{ openDate.day }})),
            max: new Date("December 12, 2020") // NOTE: new Date(nextYear, 10) is "Sun Nov 01 <nextYear>"

        });
        const currentDateElement = document.getElementById('current-date');
        currentDateElement.value = myCalender.value;

        /*const currentDayElement = document.getElementById('current-day');
        currentDayElement.textContent = myCalender.value.getDay();*/

        const currentToDateString = document.getElementById('current-datestring');
        currentToDateString.textContent = myCalender.value.toDateString();

        myCalender.onValueChange((currentValue) => {
            currentDateElement.value = currentValue;
            //currentDayElement.textContent = currentValue.getDay();
            currentToDateString.textContent = currentValue.toDateString();
            //console.log(`The current value of the calendar is: ${currentValue}`);
            updateDate();
        });
    </script>
{% endblock %}