{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='CalendarPicker.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function updateDate(e) {
            $('#current-datestring').removeAttr('hidden');
            $('#windows>.auto-start').remove();
            let selected_date = $('#current-date').val();
            $.getJSON('{{ url_for('reservation.times') }}', {reservation_type:{{reservation_type.id}}, date: selected_date}, function (data) {
                let windows = $('#windows');
                if (data.length > 0) {
                    data.forEach(x => windows.append('<option class="auto-start" value="' + x.id + '">' + x.start + ' -> ' + x.end + '</option>'));
                }
            });
        }
    </script>
    {# <script src="{{ url_for('static', filename='Reservations.js') }}"></script> #}
    <link rel="stylesheet" href="{{ url_for('static', filename='CalendarPicker.style.css') }}">
    <style>
        div.extra-people, small{
            flex-basis: 100%;
        }
    </style>
{% endblock %}
{% block page %}
    <div class="container reservation-instruction">
        <h2>Creating reservation for <strong>{{ reservation_type.name }}</strong> in-person training.</h2>
        <h4>Please select an open date and choose one of the available time blocks below.
            <br>Then click submit to confirm your reservation.</h4>
    </div>
    <div class="container" style="padding-top: 1.25rem">
    <div id="calendarBorder">
        <div id="myCalendarWrapper"></div>
    </div>
    <div class="container" style="padding-top: 1em;">
        <h3 style="text-align: center">
            <p id="current-datestring"></p>
            <input id="current-date" hidden></input>
        </h3>
        <form method="post">
            <div class="form-control">
                <div class="form-group-lg">
                    <div class="label" for="windows">Available Windows</div>
                    <select class="form-control form-control-lg" id="windows" name="windows" required>
                        <option value="">Choose an time window...</option>
                    </select>
                </div>
            </div>
            <div class="container" style="padding-bottom: 10px">
                <button type="submit" class="btn btn-primary" style="float: right; margin-top: 1em;">Submit Reservation</button>
            </div>
        </form>
    </div>

    </div>
{% endblock %}
{%  block scripts %}
    {{ super() }}
    <script>
        const dateWindows = [
            {% for each in dateWindows %}
                {% if loop.index0 == 0 %}
                    new Date("{{ each }}").toDateString()
                {% else %}
                    , new Date("{{ each }}").toDateString()
                {% endif %}
            {% endfor %}];
        const myCalender = new CalendarPicker('#myCalendarWrapper', {
            // If max < min or min > max then the only available day will be today.
            //TODO Change min and max to be passed as template arguments
            min:  new Date() ,
            max: new Date(new Date().setDate(new Date().getDate() + 28))  // NOTE: new Date(nextYear, 10) is "Sun Nov 01 <nextYear>
        });

        const currentDateElement = document.getElementById('current-date');
        currentDateElement.value = myCalender.value;

        /*const currentDayElement = document.getElementById('current-day');
        currentDayElement.textContent = myCalender.value.getDay();*/

        const currentToDateString = document.getElementById('current-datestring');
        currentToDateString.textContent = myCalender.value.toDateString();

        myCalender.onValueChange((currentValue) => {
            currentDateElement.value = currentValue;
            //currentDayElement.textContent = currentValue.getDay();
            currentToDateString.textContent = currentValue.toDateString();
            //console.log(`The current value of the calendar is: ${currentValue}`);
            updateDate();
        });
    </script>
    <script>
        $('document').ready(
            $('#current-datestring').attr('hidden','true')
        );
    </script>
{% endblock %}