{% extends 'layout.html' %}
{%  block head %}
    {{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

{%  endblock %}
{% block page %}
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="video_data"
         data-video-length="video_time_seconds"
         data-video-path="youtube_id"></div>
    <div class="container" style="text-align: center;">
        <div class="container covid-instruction">
        <h3>Video Instructions</h3>
        <p>Pausing the video will stop your progress.
        Leaving this window will pause your progress.
            Fast forwarding through the video is not permitted.</p>
        </div>
    <div class="container">
        <div id="player" style="padding-bottom: 1rem;"  ></div>
    </div>

    <div class="container">
        <progress id="vid_progress" max="100" value="0">0%</progress>
    </div>
    </div>
    <script src="{{url_for('public.video_js')}}"></script>

{% endblock %}


