{% extends 'layout.html' %}
{% block page %}

<div class="card" style="margin: 4mm">
        <h3 class="card-header">Shop Status</h3>
        <div class="card-body">
            <h5>We are currently closed</h5>
            <h5>Current Shop Utility</h5>
            {% for i in range(1,3) %}
                <div class="card card-spaced-4" >
                    <h5 class="card-header">{{ user_count[i].name }}</h5>
                    <p class="card-text"> Current Users: {{ in_lab[i-1] }} </p>
                    <p class="card-text"> Student to Worker ratio: {{ user_count[i].staff_ratio }}</p>
                </div>
            {% endfor %}
            <h5>Our schedule for tomorrow is: 9:00 AM - 5:00 PM</h4>
        </div>

    </div>
    <div class="card" style="margin: 4mm">
        <h3 class="card-header">Machine Status</h3>
        <div class="row flex-row card-spaced-2">
            <div class="card card-spaced-2">

                <h4 class="card-header">Belt Sander</h4>
                <div class="card-body">
                    <p>Status: <button class="btn btn-success active" aria-pressed="true">Online</button></p>
                    <p>Last Updated: {{ current_time() }}</p>
                </div>

            </div>
            <div class="card card-spaced-2">
                <h4 class="card-header">Epilog Helix</h4>
                <div class="card-body">
                    <p>Status: <button class="btn btn-warning active" aria-pressed="true">In Use</button></p>
                    <p>Last Updated: {{ current_time() }}</p>
                </div>

            </div>
            <div class="card card-spaced-2">
                <h4 class="card-header">Epilog Fusion Pro</h4>
                <div class="card-body">
                    <p>Status: <button class="btn btn-danger active" aria-pressed="true">Offline</button></p>
                    <p>Last Updated: {{ current_time() }}</p>
                </div>

            </div>
            <!-- automatically parse machine status data. Update Machine Status from energizer devices -->
        </div>
    </div>
    <div class="card" style="margin: 4mm">
        <h3 class="card-header">Historical User Activity Graph</h3>
    </div>

{% block admin %}
{% endblock %}
{% endblock %}