{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('public.animation_js') }}"></script>
{% endblock %}

{% block page %}

<h3>Hello {{session['email'] }}</h3>
<div class="alert alert-info">
    <h3 class="badge badge-secondary">New!</h3> If you are having trouble completing the quizzes or do not remember the correct answer, check out this page on our wiki: <a href="https://wiki.ideashop.iit.edu/index.php?title=Safety_Quizzes">https://wiki.ideashop.iit.edu/index.php?title=Safety_Quizzes</a>
</div>

<div class="alert alert-info">
    <p>You must receive 100% on a quiz in order to pass the training</p>
</div>

    {#  If student has trainings available, generate trainings portion of webpage  #}
    {% if in_progress or completed or locked %}
    <div class="container-fluid">
        <div class="justify-content-center">
{# Available trainings area #}
            <div class="card">
                <h4 class="card-header">
                    <a class="d-block" data-toggle="collapse" href="#available_trainings" aria-expanded="true" aria-controls="collapse-available" id="heading-available">
                        Available Trainings
                        <i class="fa fa-chevron-down float-right"></i>
                    </a>
                </h4>
                <div id="available_trainings" class="collapse show" aria-labelledby="heading-available">
                {% set display_no_available = true %}
                {% for each in in_progress %}
                    {% set display_no_available = false %}
                        <div class="card card-spaced-2">
                            <h5 class="card-header">{{ each.machine.quiz.name  }}</h5>
                            <div class="card-body">
                                <h5 class="card-title">Location: {{ each.machine.location.name  }}</h5>
                                {% if each.quiz_attempts is not none %}
                                    {% if each.quiz_attempts >=1 %}
                                        <p class="card-subtitle">Last Taken: {{each.quiz_date.strftime('%Y-%m-%d at %I:%M%p')}}</p>
                                        <div class="progress" style="margin: 2mm">
                                            <div class="progress-bar" role="progressbar" style="width: {{ each.quiz_score }}%" final_width="{{ each.quiz_score }}">{{ each.quiz_score|int }}%</div>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                <div class="dropdown">
                                    <button class="btn btn-primary btn-training-card dropdown-toggle" type="button" id="{{ each.machine.quiz.name }}AvailableDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Training Videos
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="{{ each.machine.quiz.name }}AvailableDropdown">
                                        {% set videoList = machine_video_ids[each.machine.id] %}
                                        {% for video in videoList %}
                                        <a class="dropdown-item" href="/safety/video/{{ each.machine.id }}/{{ video }}">Training video {{ video }}</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <a class="btn btn-primary btn-training-card" href="{{ url_for('quiz', training_id=each.id)}}" role="button">
                                Take the Quiz </a>
                                <a class="btn btn-info active btn-training-card" href="
                                {% if each.machine.about_link %} {{ each.machine.about_link }}
                                    {% else %} https://wiki.ideashop.iit.edu/index.php?title=Main_Page
                                {% endif %}"
                                target="_blank" role="button">About this training</a>
                                {% if each.quiz_attempts is not none %}
                                    {% if each.quiz_attempts >=1 %}
                                        <button type="button" class="btn btn-secondary btn-training-card" data-toggle="modal" data-target="#{{ each.machine.quiz.name }}Modal">Show Details</button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% if loop.last %}
                        {% if display_no_available %}
                            <h5>Nothing to see here! If you just completed a video, please check back in a week to see your quiz</h5>
                        {% endif %}
                    {% endif %}
                {% endfor %}


                </div>
            </div>
{# Completed Trainings area #}
            <div class="card" style="margin-top: 4mm;">
                <h4 class="card-header">
                    <a class="collapsed d-block" data-toggle="collapse" href="#completed_trainings" aria-expanded="true" aria-controls="collapse-completed" id="heading-completed">
                        Completed Trainings
                        <i class="fa fa-chevron-down float-right"></i>
                    </a>
                </h4>

                <div id="completed_trainings" class="collapse"  aria-labelledby="heading-collapsed">
                {% for each in completed %}
                    <div class="card card-spaced-2">
                        <h5 class="card-header">Topic: {{ each.machine.quiz.name }}<i class="bi bi-check-square-fill float-right" style="color: green"></i></h5>
                        <div class="card-body">
                            <h5 class="card-title">Location: {{ each.machine.location.name  }}</h5>
                            <div class="progress" style="margin: 2mm">
                                <div class="progress-bar" role="progressbar" style="width: {{ each.quiz_score }}%" final_width="{{ each.quiz_score }}">{{ each.quiz_score|int }}%</div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-primary btn-training-card dropdown-toggle" type="button" id="{{ each.machine.quiz.name }}AvailableDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Training Videos
                                </button>
                                <div class="dropdown-menu" aria-labelledby="{{ each.machine.quiz.name }}AvailableDropdown">
                                    {% set videoList = machine_video_ids[each.machine.id] %}
                                    {% for video in videoList %}
                                    <a class="dropdown-item" href="/safety/video/{{ each.machine.id }}/{{ video }}">Training video {{ video }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <a class="btn btn-info active btn-training-card" href="
                                {% if each.machine.about_link %}
                                    {{ each.machine.about_link }}
                                {% else %} https://wiki.ideashop.iit.edu/index.php?title=Main_Page
                            {% endif %}"
                            target="_blank" role="button">About this training</a>
                            <button type="button" class="btn btn-secondary btn-training-card" data-toggle="modal" data-target="#{{ each.machine.quiz.name }}Modal">Show Details</button>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

{# Generate Modals for each training quiz #}
            {% for each in (in_progress and completed) %}
                {% if (each.quiz_attempts is not none) or each.quiz_passed() %}
                    <div class="modal fade" id="{{ each.machine.quiz.name }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ each.machine.quiz.name }}Modal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{ each.machine.quiz.name }}ModalLabel">{{ each.machine.quiz.name }} Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Date Taken: {{each.quiz_date.strftime('%Y-%m-%d at %I:%M%p')}}</p>
                                    <p>Quiz Score: {{ each.quiz_score|int }}%</p>
                                    <p>Attempt Count: {{ each.quiz_attempts }}</p>
                                    <p>Trained by: {{ each.trainer.name }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
        <div class="card-header">
            No quizzes available
        </div>
        <div class="card-body">
            <p>You don't have any quizzes assigned for now. We typically assign a review quiz one week after
                safety training. You will receive an email at your IIT email address once it's assigned.</p>
        </div>
    {% endif %}
{% block admin %}
{% endblock %}
{% endblock %}