{% extends 'index.html' %}
{% block admin %}
<div class="card" style="margin: 1em 0em;">
    <div class="card-header">
        Admin Tools: All Quizzes
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Machine Name</th>
                <th scope="col">Quiz Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for each in quizzes %}
                <tr>
                    <th scope="row">{{each.name}}</th>
                    <th scope="row">{{each.quiz.name}}</th>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{url_for('edit_quiz', id=each.quiz.id)}}" role="button">
                            <i class="fas fa-edit"></i>
                            Edit quiz
                        </a>
                    </td>
                </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}