{% extends 'layout.html' %}
{% block page %}
    <h1>Editing: {{ quiz.name }}</h1>
    <form method="post" href="{{ url_for('edit_quiz',id=id) }}" enctype="multipart/form-data">
        {% for question in questions %}
            <div class="card" style="margin:1em;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" value="{{ question.prompt }}" name="question_{{ question.id }}_prompt"
                                class="form-control" />
                            </div>
                            <div class="form-group">
                            <textarea class="form-control" id="question_{{ question.id }}_description"
                                          name="question_{{ question.id }}_description"
                                          rows="2">{{ question.description }}</textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            {% if question.image %}
                                <img class="img-fluid" style="max-width: 50%;" src="{{question.image}}"/>
                            {% endif %}
                            <div class="form-group">
                                <input type="file" name="question_{{question.id}}_file" id="question_{{question.id}}_file">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% for option in question.option %}
                        <div class="form-row" id="option_row_{{ option.id }}">
                            <div class="col-8 align-items-center">
                                {% if question.option_type == 'radio' %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="{{ question.option_type }}" name="question_{{ question.id }}_correct"
                                               value="{{ option.id }}" {% if option.correct %} checked {% endif %} />
                                        <input class="form-check-label form-control" type="text" name="option_{{ option.id }}_text"
                                           id="option_{{ option.id }}_text" value="{{ option.text }}" />
                                    </div>
                                {% elif question.option_type == 'checkbox' %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="{{ question.option_type }}" name="option_{{ option.id }}_correct"
                                               value="1" id="{{ option.id }}" {% if option.correct %} checked {% endif %} />
                                        <input class="form-check-label form-control" type="text" name="option_{{ option.id }}_text"
                                           id="option_{{ option.id }}_text" value="{{ option.text }}" />
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-3">
                                {% if option.image %}
                                    <img class="img-fluid" style="max-height: 38px; max-width: 38px" src="{{option.image}}"/>
                                {% endif %}
                                <div class="form-group">
                                    <input type="file" name="option_{{option.id}}_file" id="option_{{option.id}}_file">
                                </div>
                            </div>
                            <div class="col-1">
                                <button class="btn-sm btn-danger btn-block" name="delete_option" value="{{ option.id }}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <div class="form-row">
                        <div class="col-md-2">
                            <button type="submit" class="btn-sm btn-danger" name="delete_question" value="{{ question.id }}">
                                <i class="fas fa-trash"></i>
                                Delete question
                            </button> <!--TODO Make this work.-->
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn-sm btn-success" name="add_option" value="{{ question.id }}">
                                <i class="fas fa-plus"></i>
                                Add option
                            </button>
                        </div>
                        <div class="col">
                            <select class="form-control" name="question_{{ question.id }}_optiontype">
                                <option value="radio" {% if question.option_type == 'radio' %} selected {% endif %}>Radio buttons</option>
                                <option value="checkbox" {% if question.option_type == 'checkbox' %} selected {% endif %}>Checkboxes</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-check"></i>
            Update quiz
        </button>
        <button type="submit" class="btn btn-success" name="add_question" value="True">
            <i class="fas fa-plus"></i>
            Add question
        </button>
    </form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
$(document).keypress(function(e) {
    if(e.which == 13) {
        e.preventDefault();
        }
    });
</script>
{% endblock %}
